/*
  Theme Name: The Travel Blog
  Theme URI:
  Author: Mohammad Reza
  Description: WordPress theme for the travel blog
  Version: 1.0
  Licence: GNU General Public Licence or Later
  Tags: HTML5, CSS3, Sidebar, Travel, Blog
*/

body {
  background-color: #f2f2f2;
}

h1,h2,h3,h4,h5 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}
blockquote {
  margin: 20px 10px;
  padding: 5px 10px;
  /* quotes: "\201C""\201D""\2018""\2019"; */
  font-size: 30px;
  font-style: italic;
  color:#a1a1a1;
}

blockquote:before {
  color:#ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.alignleft {
  float: left;
  margin-right: 20px;
}

.alignright {
  float: right;
  margin-left: 20px;
}


/* Navigation */
nav.main-navigation {
  background-color: #008fd1;
}

nav.main-navigation ul {
  margin-top: 25px;
}

nav.main-navigation ul li {
  margin-bottom: 10px;
  text-align: center;
}

nav.main-navigation ul li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 0;
}

nav.main-navigation ul li a:hover {
  background-color: transparent;
}

.navbar-toggle {
  border: 1px solid #fff;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

nav.main-navigation ul li.current_page_item,
nav.main-navigation ul li.current_page_parent {
  background-color: #004d70;
}

@media only screen and (min-width: 768px) {
  nav.main-navigation ul li:not(:last-child) {
    margin-right: 20px;
  }

  nav.main-navigation ul li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 0 0 0;
  }

  nav.main-navigation ul li.current_page_item,
  nav.main-navigation ul li.current_page_parent {
    border-bottom: 3px solid #ffffff;
    background-color: transparent;
  }
}




/* End Navigation */


/* Site header */
.site-header {
  height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 20px;
}

@media only screen and (min-width: 768px) {
  .site-header {
    background-size: cover;
    background-attachment: fixed; 
  }

  .home .site-header {
    height: 800px;
  }
}

div.page-title {
  line-height: 1.3;
  padding: 6px 0;
  border-left: 20px solid #008fd1;
  margin: 20px auto;
}

div.page-title h1 {
  background-color:#008fd1;
  padding: 4px 0;
  color:#ffffff;
  display:inline;
  margin:0;
  font-size:60px;
}

div.page-title h1 span {
  position: relative;
  left: -10px;
}

@media only screen and (min-width: 768px) {
  .home .page-title {
    margin-top: 240px;
  }

  .page-title {
    margin-top: 100px !important;
  }
}
/* Site header */
 

/* Latest blog entries on front-page */
.content {
  padding: 20px;
}

.content .entry {
  margin-bottom: 20px;
}

.entry-content {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  min-height: 270px;
}

div.entry-content h3 {
  font-family: 'Libre Baskersville', serif;
  line-height: 1.4;
  margin:0;
  font-size:24px;
  margin-bottom: 30px;
  font-weight: 700;
}

.entry-content p {
  text-transform: uppercase;
  font-weight: bold;
} 

.entry-content span {
  color: #db008d;
  font-weight: bold;
}

.btn.btn-success {
  background-color: #008fd1;
  color: #fff;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px 50px;
  margin-top: 20px;
  transition: all .3s ease; 
}

.btn.btn-success:hover {
  background-color: #0070a3;
}
/* End Latest blog entries on front-page */


/* Categories on front page */
.categories .category {
  text-align: center;
  background-color: #fff;
  margin-bottom: 20px;
  /* Membuat gap antar box */
  background-clip: content-box; 
}

.categories .category i {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 60px;
}

.categories .category:nth-child(1) i {
  color: #008fd1;
}
.categories .category:nth-child(2) i {
  color: #db008d;
}
.categories .category:nth-child(3) i {
  color: #9800d1;
}
.categories .category:nth-child(4) i {
  color: #eca300;
}

.categories .category a {
  font-family: 'Libre Baskersville', serif;
  margin-bottom: 20px;
  display: block;
  text-transform: uppercase;
  font-size: 28px;
  color: #000;
  font-weight: 700;
}

.categories .category a:hover {
  text-decoration: none;
}
/* End Categories on front page */


/* Page with Sidebar */
.page-template-page-sidebar .content,
.page-template-page-sidebar footer {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.page-template-page-sidebar .content-page {
  box-shadow: 768px 0px 0px #e6e6e6;
  padding: 20px;
  text-align: justify;
}

aside.sidebar-widget {
  padding-top: 20px;
}

aside.sidebar-widget h3 {
  font-size: 20px;
}

aside.sidebar-widget li {
  margin-bottom: 10px;
}

aside.sidebar-widget li a,
aside.sidebar-widget li a:hover {
  color: #008fd1;
  text-decoration: none;
}


/* End Page with Sidebar */











/* Footer */
footer {
  background-color: #008fd1;
  padding: 10px 0 0 0;
  margin-top: 30px;
  color: #fff;
  text-align: justify;
}
footer a,
footer a:hover {
  color: #fff;
  text-decoration: none;
}

footer .widget_recent_entries li {
  margin-bottom: 10px;
}

footer .site-info {
  background-color: #004d70;
  margin: 0;
  font-size: 16px;
  padding: 10px 0;
}


/* Social icons */
#social {
  list-style: none;
}

#social li {
  position: relative;
  display: inline-block;
}

#social li a:before {
  display: inline-block;
  vertical-align: top;
  padding: 0 5px;
  font-family: 'fontAwesome';
  font-size: 40px;
  color: #fff;
  content: '\f08e';
}

#social li a[href*="facebook.com"]::before{content:'\f082';}
#social li a[href*="plus.google.com"]::before{content:'\f0d4';}
#social li a[href*="twitter.com"]::before{content:'\f081';}
#social li a[href*="youtube.com"]::before{content:'\f16a';}
/* End Social icons */

/* End Footer */